.image{
    height: 500px;

}
.ersteZeile {
    font-size: 4rem;
    text-align: center;
}
.zweiteZeile1{
    font-size: 2rem;
    text-align: center;
}
.zweiteZeile2{
    font-size: 2rem;
    text-align: center;
}
.container-fluid {
    background-image: url('../../../assets/images/pencils.jpg');
    height: 100%;
    background-size: cover;
}