<div class="module">
  
        <header>
            <div class ="text">
               
                <h1 >
                                <b>  Willkommen beim digitalen Klassenzimmer!</b>
                </h1>
                <h3>
               Erleichtere dir den Schulalltag mit automatisch generierten Sitzordnungen und Gruppeneinteilungen
                    
                </h3>
                
                <button mat-raised-button class="start-button" color="primary" (click)="start()"  >
                        Los gehts!</button>
                      
                        
            </div>
          
        </header>
      </div>