  .module {
    background: url('../../../assets/images/pencils.jpg');
    background-attachment: fixed;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .module > header {
    position: relative;
    margin-top: 250px;
    height: 300px;
    width: 100%;
    padding: 50px 50px;
    background: inherit;
    background-attachment: fixed;
    overflow: hidden;
  }
  .module > header::before {
    content: "";
    position: relative;
    top: -20px;
    left: 0;
    width: 100%;
    height: 200%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  .module > header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 247, 247, 0.75)
  }

  .text{
      color: #673AB7;
      position: relative;
      z-index: 1;
      text-align: center;
  }
  