/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --primary-color: #673ab7;
  --primary-color-light: #7e57c2;
  --primary-color-very-light: #d1c4e9;
  --primary-color-dark: #5e35b1;
  --accent-color: #ffd740;
  --accent-color-light: #ffe57f;
  --accent-color-dark: #ffc400;
}
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.mat-card {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 20px;
}

.second-column-card {
  width: 790px;
}

.mat-checkbox .mat-checkbox-inner-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 15px !important;
  width: 15px !important;
}

.responsive {
  width: 100%;
  min-width: 400px;
}
.responsive-wide {
  width: 100%;
  max-width: 950px;
}

.row {
  width: 100% !important;
}

.dark-theme .mat-card,
.dark-theme .mat-table,
.dark-theme .mat-paginator,
.dark-theme input,
.dark-theme .mat-dialog-container {
  background: #1f1f1f !important;
  color: white !important;
}

.dark-theme button .mat-raised-button,
.dark-theme .mat-select-panel {
  background: gray !important;
  color: white !important;
}
.dark-theme .mat-form-field-label-wrapper {
  background: transparent !important;
}

.dark-theme .mat-list-item-content,
.dark-theme .mat-input-element,
.dark-theme .mat-cell,
.dark-theme .mat-footer-cell,
.dark-theme .mat-header-cell,
.dark-theme .mat-select-value,
.dark-theme .mat-paginator,
.dark-theme .mat-paginator-page-size .mat-select-trigger,
.dark-theme .mat-select-arrow,
.dark-theme .mat-icon-button .mat-button-wrapper,
.dark-theme .mat-form-field-appearance-legacy .mat-form-field-label,
.dark-theme .mat-option-text {
  color: white !important;
}

.dark-theme .dragdrop-list,
.dark-theme .dragdrop-box {
  background: #4a4949 !important;
  color: white !important;
}

.dark-theme .unselected-tisch {
  background: transparent !important;
}
.dark-theme .mat-list-item.active .mat-list-item-content {
  color: black !important;
}
.dark-theme .mat-toolbar.mat-primary {
  /* background: #bb86fc; */
}

.dark-theme.mat-list-item.active {
  color: black !important;
}
@media print {
  .mat-card {
    background: white;
  }
}
