/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --primary-color: #673AB7;
  --primary-color-light:#7E57C2;
  --primary-color-very-light:#D1C4E9;
  --primary-color-dark:#5E35B1;
  --accent-color: #FFD740;
  --accent-color-light:#FFE57F;
  --accent-color-dark: #FFC400;  
}
body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 5px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  .mat-card{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left:15px;
    margin-right: 20px;
  }



.second-column-card{
  width: 790px;
}


.mat-checkbox .mat-checkbox-inner-container{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15px !important;
    width: 15px !important;
  }

  .responsive {
    width: 100%;
    max-width: 400px;

  }
  .responsive-wide {
    width: 100%;
    max-width: 950px;
  }
  






