<mat-card class="second-column-card" id="contentToPdf">
  <mat-card-header>

    <mat-card-title-group>
      <mat-card-title>
        <h4>Sitzordnung {{selectedSitzordnung.name}}</h4>
      </mat-card-title>
    </mat-card-title-group>

  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="openRegelDialog()">Zufällige Sitzordnung</button>
      <button mat-raised-button (click)="generatePdf()">Als PDF exportieren</button>
    </mat-card-actions>

    <div class="dragdrop-container">
    <div cdkDropListGroup>
    <table class="zimmer">
      
      <tbody>
        <tr *ngFor="let row of rowSchulzimmer; let r = index">
          <td *ngFor="let column of columnSchulzimmer; let c = index">
           
            <div  cdkDropList  id="activeCdkList" *ngIf="tischIsActive(r,c)" class="active-tisch"  
              #activeGroup="cdkDropList"  (cdkDropListDropped)="drop($event)"
              [cdkDropListData]="getDropListData(r,c)" >
              
              
              <!-- <div cdkDropList  #activeGroup="cdkDropList"  [cdkDropListData]="getDropListData(r,c)"
                (
               > -->
                
              
              <div *ngIf="getDropListData(r,c).schueler">
                <div   cdkDrag [cdkDragData]="getDropListData(r,c).schueler" >
                {{getDropListData(r,c).schueler.vorname}}
                {{getShortName(getDropListData(r,c).schueler.name)}}
              </div>
              </div>
            </div>
            <!-- </div> -->
            
              <div *ngIf="!tischIsActive(r,c)" class="unselected-tisch">
                <div *ngIf = "tischIsSelected(r,c)" class="selected-tisch"></div>
              </div>

           
            
           

          </td>
        </tr>
      </tbody>
    </table>
    

        <div class="col-md-6">
          <h5>Restliche Schüler</h5>
          <div cdkDropList cdkDropListOrientation="horizontal" id="defaultCdkList"  [cdkDropListData]="remainingSchueler" class="dragdrop-list" 
            (cdkDropListDropped)="drop($event)">
            <div class="dragdrop-box" *ngFor="let schueler of remainingSchueler" cdkDrag>
              {{schueler.vorname}} {{schueler.name}}</div>
          </div>
        </div>
      </div>
    </div>




  </mat-card-content>
</mat-card>
