<mat-card class="second-column-card" id="contentToPdf" >
  <mat-card-header>

    <mat-card-title-group>
      <mat-card-title>
        <h4>Sitzordnung {{selectedSitzordnung.name}}</h4>
      </mat-card-title>
    </mat-card-title-group>

  </mat-card-header>
  <mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="openRegelDialog()">Zufällige Sitzordnung</button>
      <button mat-raised-button (click)="generatePdf()">Als PDF exportieren</button>
    </mat-card-actions>

    <table class="zimmer">
      <tbody>
        <tr *ngFor="let row of rowSchulzimmer; let r = index">
          <td *ngFor="let column of columnSchulzimmer; let c = index">
            <app-seating-output [SeatingOutput]="preparedSeatingOutput[r][c]">
            </app-seating-output>
          </td>
        </tr>
      </tbody>
    </table>


   


  </mat-card-content>
</mat-card>




