<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="column1">
        <div class="input-form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Schulklasse und Zimmer auswählen</h4>
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
              <div class="input-form-field" >  
                <mat-form-field > 
                  <mat-spinner *ngIf="isLoadingSchulklasse" diameter="20"></mat-spinner>
                  <mat-select placeholder="Schulklasse"  [(ngModel)]="selectedSchulklasse" required  >
                 <mat-option  *ngFor="let klasse of klassenToPerson" [value] ="klasse">{{klasse.name}}</mat-option>
                 
                </mat-select> 
              
              </mat-form-field> 
                   <mat-form-field>
                      <mat-spinner *ngIf="isLoadingSchulzimmer" diameter="20"></mat-spinner>
                      <mat-select placeholder="Schulzimmer"  [(ngModel)]="selectedSchulzimmer" required >
                     <mat-option  *ngFor="let zimmer of zimmerToPerson" [value] ="zimmer">{{zimmer.name}}</mat-option>
                     
                    </mat-select> 
                  
                 </mat-form-field> 
                </div>
            

            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="randomizePlaces()" color="accent">Zuordnen
                 
              </button>
              <mat-error *ngIf="zuvieleSchuelerInSchulzimmer">
                  {{getErrorMessageZuvieleSchuelerInSchulzimmer()}}
                </mat-error>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>




    <div class="col-md-7">
      <div class="column2">
        <div class="schulzimmer" *ngIf="showSitzordnung">
          <mat-card class="second-column-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Schulklasse {{outputSchulklasse.name}} im Schulzimmer {{outputSchulzimmer.name}} </h4>
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
              <table class="zimmer">
                <tbody>
                  <tr *ngFor="let row of rowSchulzimmer; let r = index">
                    <td *ngFor="let column of columnSchulzimmer; let c = index">
                      <app-tisch-schueler [TischSchuelerCombination]="preparedTischSchueler[r][c]">
                      </app-tisch-schueler>
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-card-content>
          </mat-card>





        </div>
      </div>
    </div>



  </div>