<div class="container-fluid">

  <div class="row">
    <div class="col-md-5">
      <div class="column1">


        <div class="input-form-container">

          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Regel hinzufügen</h4>
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
            <div class="input-form-field">
              <form  [formGroup]="myFormBase">
                
                  <mat-form-field >
                    <input matInput placeholder="Beschreibung der Regel" required [(ngModel)]="selectedBeschreibung" formControlName="beschreibung">
                      <mat-error *ngIf="isFieldValid( this.myFormBase, 'beschreibung')">Beschreibung erforderlich </mat-error>
                  </mat-form-field>

                  <mat-form-field  >
                    <mat-select placeholder="Schulklasse" [(ngModel)]="selectedSchulklasse" required formControlName="klasse">
                      <mat-option *ngFor="let klasse of klassenToPerson" [value]="klasse">{{klasse.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="isFieldValid(this.myFormBase,'klasse')">Klasse erforderlich </mat-error>
                  </mat-form-field>


                    <mat-form-field  > 
                      <mat-select placeholder="Typ der Regel" [(ngModel)]="selectedType" (selectionChange) ="resetChildForms()" required formControlName="type">
                        <mat-option *ngFor="let type of regelTypes" [value]="type">{{type}}</mat-option>

                      </mat-select>
                      <mat-error *ngIf="isFieldValid(this.myFormBase, 'type')">Typ erforderlich </mat-error>
                    </mat-form-field  >
                  </form>



                  <div *ngIf="showDetailConfigurationFesterSitzplatz()">
                  <form  [formGroup]="myFormFesterSitzplatz"> 
                      <mat-form-field >
                          <mat-select placeholder="Schulzimmer" [(ngModel)]="selectedSchulzimmer" (selectionChange)="selectZimmer()" required formControlName="zimmer">
                            <mat-option *ngFor="let zimmer of zimmerToPerson" [value]="zimmer">{{zimmer.name}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="isFieldValid(this.myFormFesterSitzplatz,'zimmer')">Zimmer erforderlich </mat-error>
                        </mat-form-field>
                    <mat-form-field >
                      <mat-select placeholder="Schüler" [(ngModel)]="selectedSchueler" required formControlName="schueler">
                        <mat-option *ngFor="let schueler of schuelerToKlasse" [value]="schueler">{{schueler.vorname}}
                          {{schueler.nameKurz}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="isFieldValid(this.myFormFesterSitzplatz, 'schueler')">Schüler erforderlich </mat-error>
                    </mat-form-field>

                    <mat-form-field  >
                      <mat-select placeholder="Tisch" [(ngModel)]="selectedTisch" required formControlName="tisch">
                        <mat-option *ngFor="let tisch of tischeToZimmer" [value]="tisch">{{tisch.tableNumber}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="isFieldValid(this.myFormFesterSitzplatz, 'tisch')">Tisch erforderlich </mat-error>
                    </mat-form-field>
                    </form>
                  </div>

                  <div *ngIf="showDetailConfigurationUnpassendePaarung()">
                  <form  [formGroup]="myFormPaarung"> 
                    <mat-form-field >
                      <mat-select placeholder="Schüler 1" [(ngModel)]="selectedSchueler1" required formControlName="schueler1">
                        <mat-option *ngFor="let schueler of schuelerToKlasse" [value]="schueler">{{schueler.vorname}}
                          {{schueler.nameKurz}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="isFieldValid(this.myFormPaarung, 'schueler1')">Schüler 1 erforderlich </mat-error>
                    </mat-form-field>

                    <mat-form-field  >
                      <mat-select placeholder="Schüler 2" [(ngModel)]="selectedSchueler2" required formControlName="schueler2">
                        <mat-option *ngFor="let schueler of schuelerToKlasse" [value]="schueler">{{schueler.vorname}} {{schueler.nameKurz}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="isFieldValid(this.myFormPaarung, 'schueler2')">Schüler 2 erforderlich </mat-error>
                    </mat-form-field>
                    </form>
                  </div>

                  </div>

            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button  color="accent" [disabled]="!addButtonActive()" (click)="addRegel()">Hinzufügen</button>
            </mat-card-actions>
          </mat-card>

        </div>
        <button mat-raised-button class="save-button" color="accent" [disabled]="!savingIsActiv" (click)="saveRegeln()">Speichern</button>
      </div>



    </div>
    <div class="col-md-7">
      <div class="column2">
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                <h4>Erfasste Regeln (Fester Sitzplatz)</h4>
              </mat-card-title>
            </mat-card-title-group>

          </mat-card-header>
          <mat-card-content>
            <mat-table #tableSitzplatz [dataSource]="dataSourceSitzplatz">

              <ng-container matColumnDef="beschreibung">
                <mat-header-cell *matHeaderCellDef> Beschreibung </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.beschreibung}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef> Typ der Regel </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="klasse">
                <mat-header-cell *matHeaderCellDef> Schulklasse </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.klasse}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="zimmer">
                <mat-header-cell *matHeaderCellDef> Schulzimmer </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.zimmer}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="schueler">
                <mat-header-cell *matHeaderCellDef> Schüler </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.schueler}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="tischNumber">
                <mat-header-cell *matHeaderCellDef> Tisch </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tischNumber}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Löschen </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <span>
                    <mat-icon matListIcon (click)="deleteRegelSitzplatz(element)">delete</mat-icon>
                  </span>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumnsSitzplatz"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsSitzplatz;"></mat-row>


            </mat-table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true">
            </mat-paginator>
          </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Erfasste Regeln (Unmögliche Paarung)</h4>
                </mat-card-title>
              </mat-card-title-group>
  
            </mat-card-header>
            <mat-card-content>
              <mat-table #tablePaarung [dataSource]="dataSourcePaarung">
  
                <ng-container matColumnDef="beschreibung">
                  <mat-header-cell *matHeaderCellDef> Beschreibung </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.beschreibung}} </mat-cell>
                </ng-container>
  
  
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef> Typ der Regel </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                </ng-container>
  
  
                <ng-container matColumnDef="klasse">
                  <mat-header-cell *matHeaderCellDef> Schulklasse </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.klasse}} </mat-cell>
                </ng-container>

  
  
                <ng-container matColumnDef="schueler1">
                  <mat-header-cell *matHeaderCellDef> Schüler 1 </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.schueler1}} </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="schueler2">
                    <mat-header-cell *matHeaderCellDef> Schüler 2 </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.schueler2}} </mat-cell>
                  </ng-container>
    
                
  
                <ng-container matColumnDef="symbol">
                  <mat-header-cell *matHeaderCellDef> Löschen </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span>
                      <mat-icon matListIcon (click)="deleteRegelPaarung(element)">delete</mat-icon> 
                    </span>
                  </mat-cell>
                </ng-container>
  
                <mat-header-row *matHeaderRowDef="displayedColumnsPaarung"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsPaarung;"></mat-row>
  
  
              </mat-table>
              <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true">
              </mat-paginator> 
            </mat-card-content>
          </mat-card>

      </div>
    </div>

  </div>

  <div id="center" style="position:fixed;top:50%;left:50%">
    <mat-spinner *ngIf="isSaving || (isLoadingRegeln || isLoadingSchulzimmer || isLoadingSchulklasse)"></mat-spinner>
  </div>
</div>
