<div class = "container-fluid">
    <div class="row">
  
      <div class="nav-side-menu">
        <div class="brand">MeinKlassenzimmer</div>
  
        <div class="menu-list">
  
          <ul id="menu-content" class="menu-content">
            <li>
              <a routerLink="/home">
            <i class="fa fa-home fa-lg" ></i> Startseite
            </a>
            </li>
            <li  class="collapsed" data-toggle="collapse" data-target="#products" >
              <a routerLink ="/verwaltung/klassen" ><i class="fa fa-gift fa-lg"></i> Verwaltung <span class="arrow"></span></a>
            </li>
            <ul class = "sub-menu collapse" id="products">
                <li [routerLinkActive]="['active']"><a routerLink ="/verwaltung/klassen">Klassen</a></li>
                <li [routerLinkActive]="['active']"><a routerLink ="/verwaltung/schulzimmer">Schulzimmer</a></li>
            </ul>
            <li>
              <a routerLink="/sitzordnung">
            <i class="fa fa-calculator  fa-lg" ></i> Sitzordnung
              </a>
            </li>
  
            <li>
              <a routerLink="#">
            <i class="fa fa-user fa-lg"></i> Profil
            </a>
            </li>
  
  
          </ul>
        </div>
  
      </div>
  
    </div>


