<div id="sidebar-wrapper" class="heigh100">
    <ul class="sidebar-nav navbar-default heigh100">
        <li>
            <a routerLink="/home">
                <i class="fa fa-home fa-lg" ></i> Startseite
             </a>
        </li>
        <li>
            <a routerLink="/verwaltung">
                <i class="fa fa-cog fa-lg" ></i> Verwaltung
            </a>
        </li>
        <li>
            <a routerLink="/sitzordnung">
                <i class="fa fa-calculator  fa-lg" ></i> Sitzordnung
            </a>
        </li>
        <li>
            <a routerLink="#">
                <i class="fa fa-user fa-lg"></i> Profil
            </a>
        </li>
    </ul>
</div>