# compiled output
meinKlassenzimmer/public/dist

.firebase/*
client/firebase-debug.log


client/.angular/*
firebase-debug.log
client/data/old-firebase-key.json
client/data/new-firebase-qual-key.json
client/data/new-firebase-prod-key.json
