<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="column1">
        <h3>Sitzordnung</h3>
        <div>
          <label>Schulklasse auswählen:</label>
          <select id="Id" [(ngModel)]="schulklasseId" name="Id" (change)="selectSchulklasse();">
            <option [ngValue]="klasse.id" *ngFor="let klasse of klassenToPerson">
              {{klasse.name}}
            </option>
          </select>
        </div>

        <div>
          <label>Schulzimmer auswählen:</label>
          <select id="Id" [(ngModel)]="schulzimmerId" name="Id" (change)="selectSchulzimmer();">
            <option [ngValue]="zimmer.id" *ngFor="let zimmer of zimmerToPerson">
              {{zimmer.name}}
            </option>
          </select>
        </div>

      </div>
    </div>



    <div class="col-md-8">
      <div class="column2">
        <div class="schulzimmer" *ngIf="showSitzordnung">
          <div class="zimmer">
            <h3>Schulklasse {{outputSchulklasse.name}} im Schulzimmer {{outputSchulzimmer.name}} </h3>
            <table class="zimmer">
              <tbody>
                <tr *ngFor="let row of rowSchulzimmer; let r = index">
                  <td *ngFor="let column of columnSchulzimmer; let c = index">
                    <app-tisch-schueler [TischSchuelerCombination]="preparedTischSchueler[r][c]">
                    </app-tisch-schueler>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button mat-stroked-button (click)="randomizePlaces()">Zuordnen</button>
  </div>
</div>