<div class="inline-edit">

  <div [hidden]="!isDisplay" class="button-element" (click)="onSelect()">
      {{ text }}
    <span class="icons">
        <mat-icon matListIcon title="Edit" (click)="beginEdit(editText)">edit</mat-icon>
        <mat-icon matListIcon title="Delete" (click)="onDelete()">delete</mat-icon>
    </span>
       



  </div>

  <div [hidden]="isDisplay" class="button-element">

        <input matInput #editText type="text" [value]="text" (keyup.enter)="editDone(editText.value)">


      <span class="icons">
        <mat-icon matListIcon title="Save" (click)="editDone(editText.value)">done</mat-icon>
      </span>


  </div>
</div>
