.button-element{
    width: 100%;
    height: 50px;
    padding-top: 15px;

}
.inline-edit{
    width: 570px;
}

.input-element{
    width: 90%;
}
.icons{
    position: absolute;
    right: 0px;
    top: 7px;
}
