<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="column1">
        <h3>Klassen</h3>
        <div>
          <label>Neue Klasse hinzufügen:</label> <input  #neueKlasse />
          <button type="button" class="btn btn-primary" (click)="addKlasseTmp(neueKlasse.value); neueKlasse.value=''">
            Hinzufügen
          </button>
        </div>
        <div class="klassenListe">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Klasse</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let klasse of klassenToPerson">
                <td><span><button type ="button" class = "btn btn-success" (click)="onSelect(klasse)" [class.selected]="klasse === selectedKlasse">{{klasse.name}}</button></span></td>
                <td><span><button type = "button" class = "btn btn-secondary" (click) ="deleteKlasseTmp(klasse); $event.stopPropagation()">X</button></span> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      
    </div>
    <div class="col-md-8">
      <div class="column2">
        <div class="schueler" *ngIf="selectedKlasse">
          <h3>Schueler der Klasse {{selectedKlasse.name}}</h3>
          <div class="schuelerListe">
            <app-schueler [klassenId]="selectedKlasse.id" [schuelerToPerson]="schuelerToPerson"></app-schueler>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" [disabled]="!savingIsActiv()" (click) ="saveKlassenSchueler()">Speichern</button>