<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="column1">
        <div class="input-form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <!-- Title -->
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
            <!-- content -->
            </mat-card-content>
            <mat-card-actions>
              <!-- Buttons -->
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="klassenListe">
          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <!-- <h4>Title</h4> -->

                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="column2">
        <div class="">
          <div class="">
            <!-- Second Column -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
