.button-list{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.mat-form-field {
    display: block;
}  
.mat-list-item.highlighted{
    background-color: var(--accent-color);
}
.mat-card-header {
    display: grid;
  }  
  .mat-card-header-text {
    margin: 0 0px;
  }