
.mat-form-field {
    display: block;
}  
.mat-list-item.highlighted{
    background-color: var(--accent-color);
}
.mat-card-header {
    display: grid;
  }  
  .mat-card-header-text {
    margin: 0 0px;
  }

  .second-column-card{
    width: 950px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px;
  }
  .col-md-7{
      padding-left: 0px;
  }

