
<div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
   <a href="#"> 
   <i class="fa fa-bars  toggle-btn"></i>
   </a>
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content">
                <li>
                  <a href="#">
                  <i class="fa fa-cog fa-lg"></i> Verwaltung
                  </a>
                </li>
                  <li>
                  <a href="#">
                  <i class="fa fa-calculator fa-1x fa-lg"></i> Zuordnung
                  </a>
                </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profil
                  </a>
                  </li>

               
            </ul>
     </div>
    
</div>