<nav class="navbar  navbar-toggleable-md navbar-default bg-inverse fixed-top heigh100">
  <a class="navbar-brand" href="#">MeinKlassenzimmer</a>

  <div class="collapse navbar-collapse heigh100" id="navbarsExampleDefault">
    <form class="nav navbar-nav navbar-right">
 
    </form>
    <form class="navbar-form navbar-right" role="search">
      <button class ="btn btn-default" (click)="auth.login()">Login</button>
      <button class="btn btn-default" (click)="auth.logout()">Logout</button>
    </form>

    
  </div>
</nav>