<div class="container-fluid">
    <div class="row">
      <div class="col-md-3" class="responsive">
        <div class="column1">
          <div class="input-form-container">
            <mat-card>
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                    <h4>Listen-Parameter definieren</h4>
                  </mat-card-title>
                </mat-card-title-group>
  
              </mat-card-header>
              <mat-card-content>
                <div class="input-form-field">
                  <form  [formGroup]="myListForm">
                  <mat-form-field>
                    <input matInput placeholder="Name der Liste"  type="string"  required [(ngModel)]="selectedListNameInput"  formControlName="name">
                    <mat-error *ngIf="isFieldValid( this.myListForm, 'name')">Name erforderlich </mat-error>
    
                  </mat-form-field>
                 
                  <mat-form-field>
                    <mat-select placeholder="Schulklasse" required [(ngModel)]="selectedSchulklasse" required  formControlName="klasse">
                      <mat-option *ngFor="let klasse of klassenToPerson" [value]="klasse">{{klasse.name}}</mat-option>
                      
                    </mat-select>
                    <mat-error *ngIf="isFieldValid(this.myListForm,'klasse')">Klasse erforderlich </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Anzahl Gruppen" required  type="number" [(ngModel)]="selectedGroupNumberInput"  formControlName="groups">
                    <mat-error *ngIf="isFieldValid(this.myListForm, 'groups')">Anzahl erforderlich </mat-error>
                  </mat-form-field>
                </form>

                </div>
                <mat-card-actions>
                    <button mat-raised-button color="accent" [disabled]="!createButtonActive()"  (click)="createKlassenliste()">Liste eröffnen</button>

                  </mat-card-actions>
  
  
              </mat-card-content>
              <mat-card-footer>
               
              </mat-card-footer>
            </mat-card>
          </div>
  
          <div class="klassenlisteLists">
            <mat-card>
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                    <h4>Erfasste Listen</h4>
  
                  </mat-card-title>
                </mat-card-title-group>
  
              </mat-card-header>
              <mat-card-content>
                <mat-nav-list>
                  <mat-list-item *ngFor="let list of klassenlistenToPerson;last as last" [class.highlighted]="list === selectedKlassenliste">
                      <app-inline-edit [text]="list.name" [id]="list.id"  (select)="onSelect($event)" 
                     >
                    </app-inline-edit>

                    <mat-divider [inset]="true" *ngIf="!last"></mat-divider> 
                  </mat-list-item>
                </mat-nav-list>
              </mat-card-content>
  
            </mat-card>
           
          </div>
  
        </div>
      </div>
  
  
  
  
      <div class="col-md-7" >
        <div class="column2" >
          <div class="selectionKlassenlist" *ngIf="selectedKlassenliste">
            <div class="schuelerListe">
              <app-klassenliste [selectedKlassenliste]="selectedKlassenliste" [relevantSchulklasse]="relevantSchulklasse" ></app-klassenliste>
            </div>
            <!-- <mat-card class="second-column-card" class="responsive-wide" >
              <mat-card-header>
  
                <mat-card-title-group>
                  <mat-card-title>
                    <h4>Ausgewählte Schüler</h4>
                  </mat-card-title>
                </mat-card-title-group>
  
              </mat-card-header>
              <mat-card-content>
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="vorname">
                      <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
                      <mat-cell *matCellDef="let schueler"> {{schueler.vorname}} </mat-cell>
                    </ng-container>
            
            
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                      <mat-cell *matCellDef="let schueler"> {{schueler.name}} </mat-cell>
                    </ng-container>
            
            

            
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    
                  </mat-table>
                  <mat-paginator #paginator
                        [pageSize]="5"
                        [pageSizeOptions]="[5, 10]"
                        [showFirstLastButtons]="true">
            </mat-paginator>

              </mat-card-content>
            </mat-card> -->
          </div>
        </div>
      </div>
  
  
  
    </div>
  