<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-12 responsive">
      <div class="input-form-container">
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                <h4>Sitzordnung eröffnen</h4>
              </mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="input-form-field">
              <form [formGroup]="myListForm">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Name der Liste"
                    type="string"
                    required
                    [(ngModel)]="selectedSitzordnungNameInput"
                    formControlName="name"
                  />
                  <mat-error *ngIf="isFieldValid(this.myListForm, 'name')"
                    >Name erforderlich
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <mat-select
                    placeholder="Schulklasse"
                    required
                    [(ngModel)]="selectedSchulklasse"
                    required
                    formControlName="klasse"
                  >
                    <mat-option
                      *ngFor="let klasse of klassenToPerson"
                      [value]="klasse"
                      >{{ klasse.name }}</mat-option
                    >
                  </mat-select>
                  <mat-error *ngIf="isFieldValid(this.myListForm, 'klasse')"
                    >Klasse erforderlich
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-select
                    placeholder="Schulzimmer"
                    required
                    [(ngModel)]="selectedSchulzimmer"
                    required
                    formControlName="zimmer"
                  >
                    <mat-option
                      *ngFor="let zimmer of zimmerToPerson"
                      [value]="zimmer"
                      >{{ zimmer.name }}</mat-option
                    >
                  </mat-select>
                  <mat-error *ngIf="isFieldValid(this.myListForm, 'zimmer')"
                    >Schulzimmer erforderlich
                  </mat-error>
                </mat-form-field>
              </form>
            </div>
            <mat-card-actions>
              <button
                mat-raised-button
                color="accent"
                [disabled]="!createButtonActive()"
                (click)="createSitzordnung()"
              >
                Sitzordnung eröffnen
              </button>
            </mat-card-actions>
          </mat-card-content>
          <mat-card-footer> </mat-card-footer>
        </mat-card>
      </div>

      <div class="klassenlisteLists">
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>
                <h4>Erfasste Sitzordnungen</h4>
              </mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ex. Sitzordnung 3b"
                #input
              />
            </mat-form-field>

            <div>
              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Name
                  </mat-header-cell>
                  <mat-cell *matCellDef="let sitzordnung">
                    <mat-form-field
                      floatLabel="never"
                      (click)="onSelect(sitzordnung)"
                    >
                      <input
                        matInput
                        placeholder="Name"
                        (change)="savingIsActiv = true"
                        [value]="sitzordnung.name"
                        [(ngModel)]="sitzordnung.name"
                      />
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="klasse">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Klasse
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let sitzordnung"
                    (click)="onSelect(sitzordnung)"
                  >
                    {{ getSchulklassenName(sitzordnung) }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="zimmer">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Zimmer
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let sitzordnung"
                    (click)="onSelect(sitzordnung)"
                  >
                    {{ getSchulzimmerName(sitzordnung) }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action" class="align-column-right">
                  <mat-header-cell *matHeaderCellDef> Löschen </mat-header-cell>
                  <mat-cell *matCellDef="let sitzordnung">
                    <span>
                      <mat-icon
                        matListIcon
                        (click)="deleteSitzordnung(sitzordnung)"
                        >delete</mat-icon
                      >
                    </span>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data</td>
                </tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 100]"
              ></mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
        <app-speichern
          (saveData)="saveSitzordnungen()"
          (cancelData)="cancel()"
          [savingIsActive]="savingIsActiv"
        ></app-speichern>
      </div>
    </div>

    <div class="col-lg-7 col-md-12">
      <div class="column2">
        <div class="selectionSitzordnung" *ngIf="selectedSitzordnung">
          <div class="sitzordnung">
            <app-sitzordnung
              [selectedSitzordnung]="selectedSitzordnung"
              [relevantSchulklasse]="relevantSchulklasse"
              [relevantSchulzimmer]="relevantSchulzimmer"
              [relevantRegeln]="relevantRegeln"
              (noteSitzordnungManagement)="updateSitzordnung($event)"
            >
            </app-sitzordnung>
          </div>
        </div>
      </div>
    </div>

    <div id="center" style="position: fixed; top: 50%; left: 50%">
      <mat-spinner *ngIf="isSaving || isLoadingData"></mat-spinner>
    </div>
  </div>
</div>
