<mat-card class="second-column-card" class="responsive-wide">
  <mat-card-header>

    <mat-card-title-group>
      <mat-card-title>
        <h4>Klassenliste {{selectedKlassenliste.name}}</h4>
      </mat-card-title>
    </mat-card-title-group>

  </mat-card-header>
  <mat-card-content>

    <div class="example-container">

      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-6">
            <div *ngFor="let gruppe of selectedKlassenliste.gruppen">
              <h5>{{gruppe.name}}</h5>
              <div cdkDropList [cdkDropListData]="gruppe.schueler" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let schueler of gruppe.schueler" cdkDrag>
                  {{schueler.vorname}} {{schueler.name}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h5>Restliche Schüler</h5>
            <div cdkDropList [cdkDropListData]="defaultGroup.schueler" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let schueler of defaultGroup.schueler" cdkDrag>
                {{schueler.vorname}} {{schueler.name}}</div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </mat-card-content>
</mat-card>
