.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  

.mat-form-field {
    display: block;
}  
.button-list{
    width: 100%;
    height: 100%;
}
.mat-card-header {
    display: grid;
}  

.mat-card-header-text {
    margin: 0 0px;
}

  