.input-form-field {
    display: flex;
    flex-direction: column;
  }
  .mat-form-field {
    display: block;
    width: 100%
}  
.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-card-header {
  display: grid;
}  
.mat-card-header-text {
  margin: 0 0px;
}

.regel-container{
margin-top: 20px;
margin-bottom: 15px;
margin-left:15px;
margin-right: 20px;
}
.mat-column-select {
  overflow: visible;
}
.mat-checkbox  {
  position: relative;
}


