<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 responsive">
      <div class="column1">

        <div class="input-form-container">

          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Schulzimmer hinzufügen</h4>
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <input matInput placeholder="Name des Schulzimmers" required [(ngModel)]="neuesSchulzimmerName"
                  [formControl]="neuesSchulzimmerForm">
                <mat-error *ngIf="neuesSchulzimmerForm.invalid && (neuesSchulzimmerForm.dirty || neuesSchulzimmerForm.touched)">
                  {{getErrorMessageNeuesSchulzimmer()}}
                </mat-error>

              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" [disabled]="!neuesSchulzimmerForm.valid" (click)="addSchulzimmerTmp()">Hinzufügen</button>
            </mat-card-actions>
          </mat-card>
        </div>


        <div class="schulzimmerListe">
          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Erfasste Schulzimmer</h4>
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Schulzimmer 1" #input>
              </mat-form-field>

              <div >
                <table mat-table [dataSource]="dataSource" matSort>
              
                
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let schulzimmer"> 	<mat-form-field floatLabel="never" (click)="onSelect(schulzimmer)">
                    <input matInput placeholder="Name" (change)="savingIsActiv = true" [value]="schulzimmer.name" [(ngModel)]="schulzimmer.name" >
                  </mat-form-field> </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="action" class="align-column-right">
                  <mat-header-cell *matHeaderCellDef> Löschen </mat-header-cell>
                  <mat-cell *matCellDef="let schulzimmer">
                    <span>
                      <mat-icon matListIcon (click)="deleteSchulzimmer(schulzimmer)">delete</mat-icon>
                    </span>
                  </mat-cell>
                </ng-container>
                          
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="2">No data</td>
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          
            </mat-card-content>

          </mat-card>


          <app-speichern (saveData)="saveSchulzimmerTische()" (cancelData) ="cancel()" [savingIsActive] ="savingIsActiv"></app-speichern>
        </div>


      </div>

    </div>

    <div class="col-md-7">
      <div class="column2">
        <div class="schulzimmer" *ngIf="selectedSchulzimmer">
          <div class="zimmer">

            <mat-card class="second-column-card">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                    <h4>Schulzimmer {{selectedSchulzimmer.name}}</h4>
                  </mat-card-title>
                </mat-card-title-group>

              </mat-card-header>
              <mat-card-content>
                <table class="zimmer">
                  <tbody>
                    <tr *ngFor="let row of rowSchulzimmer; let r = index">
                      <td *ngFor="let column of columnSchulzimmer; let c = index">
                         <app-box [selectedSchulzimmer]="selectedSchulzimmer" [row] ="r" [column]="c" [regelnToPerson]= "regelnToPerson" 
                          [sitzordnungenToPerson]="sitzordnungenToPerson" [maximalTischNumber]="maximalTischNumber"
                          (noteSchulzimmer)="updateSchulzimmer($event)" (noteSchulzimmerTischNumber) = "updateMaximalTischNumber($event)"
                          (noteSitzordnungen)="updateSitzordnungen($event)"
                          >
                        </app-box>
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-card-content>
            </mat-card>

          </div>
        </div>
      </div>
      <div id="center" style="position:fixed;top:50%;left:50%">
        <mat-spinner *ngIf="isSaving || isLoadingData"></mat-spinner>
      </div>
    </div>
  </div>

</div>
