<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="column1">


        <div class="input-form-container">

          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Klasse hinzufügen</h4>
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
              <mat-form-field>
                <input matInput placeholder="Name der Klasse" required [(ngModel)]="neueSchulklasseName" [formControl]="neueSchulklasseForm">
                <mat-error *ngIf="neueSchulklasseForm.invalid && (neueSchulklasseForm.dirty || neueSchulklasseForm.touched)">{{getErrorMessageNeueSchulklasse()}}</mat-error>

              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" [disabled]="!neueSchulklasseForm.valid" (click)="addSchulklasse()">Hinzufügen</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="klassenListe">
          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Erfasste Klassen</h4>

                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
              <mat-spinner *ngIf="isLoading"></mat-spinner>
              <mat-nav-list>
                <mat-list-item *ngFor="let klasse of klassenToPerson;last as last" [class.highlighted]="klasse === selectedSchulklasse">
                  <div class="button-list" (click)="onSelect(klasse)">
                    {{klasse.name}}
                  </div>

                  <span>
                    <mat-icon matListIcon (click)="deleteSchulklasse(klasse)">delete</mat-icon>
                  </span>
                  <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </mat-list-item>
              </mat-nav-list>
            </mat-card-content>

          </mat-card>
         
        </div>
      </div>



    </div>
    <div class="col-md-7">
      <div class="column2">

        <div class="schueler" *ngIf="selectedSchulklasse">
          <div class="schuelerListe">
            <app-schueler [selectedSchulklasse]="selectedSchulklasse" (noteSchulklasse)="updateSchulklasse($event)"></app-schueler>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <button mat-raised-button class="save-button" color="accent"  [disabled]="!savingIsActiv" (click)="saveSchulklasseSchueler()">Speichern</button>
</div>