<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <div class="column1">
        <div class="input-form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>Schulklasse und Gruppengrösse auswählen</h4>
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
              <div class="input-form-field">
                <mat-form-field>
                  <mat-select placeholder="Schulklasse" [(ngModel)]="selectedSchulklasse" required>
                    <mat-option *ngFor="let klasse of klassenToPerson" [value]="klasse">{{klasse.name}}</mat-option>

                  </mat-select>


                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Gruppengrösse / Gruppenanzahl" [(ngModel)]="selectedGroupType" required>
                    <mat-option *ngFor="let groupType of groupTypes" [value]="groupType">{{groupType}}</mat-option>
                  </mat-select>

                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Grösse / Anzahl" [(ngModel)]="selectedGroupSize" required>
                    <mat-option *ngFor="let groupSize of groupSizes" [value]="groupSize">{{groupSize}}</mat-option>
                  </mat-select>

                </mat-form-field>
              </div>


            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button (click)="randomizeGroups()"
                [disabled]="!selectedGroupSize || !selectedGroupType || !selectedSchulklasse "
                color="accent">Einteilen</button>
              <button mat-raised-button [disabled]="!showGroups" (click)="generatePdf()">Als PDF exportieren</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="regel-container">
          <mat-expansion-panel *ngIf="klasseSelecteAndEnrichmentDone()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Aktive Regeln</h4>
              </mat-panel-title>

            </mat-expansion-panel-header>

            <div class="table-container">
              <mat-table #tableRegel [dataSource]="dataSourceRegel">

                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef> Typ der Regel </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="beschreibung">
                  <mat-header-cell *matHeaderCellDef> Beschreibung </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.beschreibung}} </mat-cell>
                </ng-container>




                <mat-header-row *matHeaderRowDef="displayedColumnsRegel"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsRegel;" (click)="selection.toggle(row)"></mat-row>
              </mat-table>
            </div>
          </mat-expansion-panel>
        </div>


      </div>
    </div>

    <div class="col-md-7">
      <div class="column2">
        <div class="gruppeneinteilung" *ngIf="showGroups">
          <mat-card class="second-column-card" id="contentToPdf">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>
                  <h4>{{gruppeneinteilungTitle}} </h4>
                </mat-card-title>
              </mat-card-title-group>

            </mat-card-header>
            <mat-card-content>
              <mat-table #table [dataSource]="dataSource">


                <ng-container *ngFor="let column of  displayedColumns; let colIndex = index"
                  matColumnDef="{{columns[colIndex]}}">
                  <mat-header-cell mat-header-cell *matHeaderCellDef>{{displayedColumns[colIndex]}}</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element[columns[colIndex]]}}</mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;"></mat-row>
              </mat-table>

            </mat-card-content>
          </mat-card>





        </div>
        <div id="center" style="position:fixed;top:50%;left:50%">
          <mat-spinner *ngIf="isLoadingData"></mat-spinner>
        </div>
      </div>
    </div>



  </div>
