<div>

  <mat-card class="second-column-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h4>Schüler hinzufügen</h4>
        </mat-card-title>
      </mat-card-title-group>

    </mat-card-header>
    <mat-card-content>
      <div class = "input-form-field">
        <mat-form-field>
          <input matInput placeholder="Vorname" required 
          [(ngModel)]="neuerSchuelerVorname" [formControl]="neuerSchuelerVornameForm"
          >
          <mat-error *ngIf="neuerSchuelerVornameForm.invalid && (neuerSchuelerVornameForm.dirty || neuerSchuelerVornameForm.touched)">
            {{getErrorMessageNeuerSchuelerVorname()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Name" required 
          [(ngModel)]="neuerSchuelerName" [formControl]="neuerSchuelerNameForm"
          >
          <mat-error *ngIf="neuerSchuelerNameForm.invalid && (neuerSchuelerNameForm.dirty || neuerSchuelerNameForm.touched)">
            {{getErrorMessageNeuerSchuelerName()}}
          </mat-error>
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [disabled]="!(neuerSchuelerVornameForm.valid && neuerSchuelerNameForm.valid)" 
          (click)="addSchueler()">
          Hinzufügen
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div>
  <mat-card class="second-column-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h4>Schülerliste</h4>
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="vorname">
          <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
          <mat-cell *matCellDef="let schueler"> {{schueler.vorname}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let schueler"> {{schueler.name}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let schueler">
            <span>
              <mat-icon matListIcon (click)="deleteSchueler(schueler)">delete</mat-icon>
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>