.input-form-field {
  display: flex;
  flex-direction: column;
}
.input-form-field > * {
  width: 100%;
}
  
  .mat-table, .mat-mdc-table {
    overflow: auto;
    max-height: 500px;
  }
  .mat-card-header, .mat-mdc-card-header {
    display: grid;
}  

.mat-card-header-text, .mat-mdc-card-header-text {
    margin: 0 0px;
}
.table-spacer {
  flex: 1 1 auto;
}
p.number-students{
  font-size: 14px;
}
.cdk-column-symbol{
  justify-content: flex-end;

}

  
 