<div>
  <label>Neuen Schüler hinzufügen:</label>
  <div class="schuelerHinzufuegen">
    <label>Vorname: </label>
    <input #neuerSchuelerVorname />
    <label>Name: </label>
    <input #neuerSchuelerName />
    <button type="button" class="btn btn-primary" (click)="addSchuelerTmp(neuerSchuelerVorname.value, neuerSchuelerName.value); neuerSchuelerVorname.value='';neuerSchuelerName.value=''">
            Hinzufügen
      </button>
  </div>


  <div class="schuelerListe">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schueler of schuelerToKlasse">
          <td>{{schueler.vorname}}</td>
          <td>{{schueler.name}} </td>
          <td><span><button type = "button" class = "btn btn-secondary" (click) ="deleteSchuelerTmp(schueler); $event.stopPropagation()">X</button></span> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-primary" [disabled]="!savingSchuelerIsActiv()" (click) ="saveSchueler()">Speichern</button>
