<div>
  <label>Neuen Schüler hinzufügen:</label>
  <div class="schuelerHinzufuegen">
    <label>Vorname: </label>
    <input #neuerSchuelerVorname />
    <label>Name: </label>
    <input #neuerSchuelerName />
    <button type="button" class="btn btn-primary" (click)="add(neuerSchuelerVorname.value, neuerSchuelerName.value); neuerSchuelerVorname.value='';neuerSchuelerName.value=''">
            Hinzufügen
          </button>
  </div>


  <div class="schuelerListe">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schueler of schuelerToKlasse">
          <td><app-inline-edit [(ngModel)]="schueler.vorname" label="Vorname" [required]="true" type="text">
              {{schueler.vorname}} </app-inline-edit></td>
          <td><app-inline-edit [(ngModel)]="schueler.name" label="Name" [required]="true" type="text">
              {{schueler.name}} </app-inline-edit></td>
        </tr>
      </tbody>
    </table>
  </div>
