mat-card-header {
  display: grid;
  padding-bottom: 16;
}
mat-card {
  margin-top: 1em;
}
mat-card h3, mat-card h4 {
  margin-top: 0.5em;
  padding-left: 16px;
  font-weight: 500;
}

mat-card-title-group, mat-card-title {
  padding-left: 0 !important;
  margin-left: 0 !important;
}


img {
  border: 2px solid #979599;
}
.space-between {
  justify-content: space-between;
}
.avatar-image {
  width: 75px;
  height: 75px;
  margin-top: 15px;
}
.contact-card {
  max-width: 360px;
}
address {
  font-style: normal;
  display: block;
  font-style: italic;
}
.adresse {
  text-align: center;
}
.contact-text {
  text-align: center;
}
.col-md-3 {
  padding-left: 0px;
}
.responsive {
  width: 100%;
  max-width: 1500;
  height: auto;
}

.container-fluid .row {
  justify-content: space-around;
}
