<div class ="container-fluid">
  <div class="col-md-2">
        <app-sidebar></app-sidebar>
  </div>
  <div class="row">
    <div class = "col-md-12">
      <div class = "ersteZeile">
       <h1>MeinKlassenzimmer</h1>
    </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-12">
     <div class = "image">
       <img [src]="fullImagePath" style="height:100%;width:100%;">
     </div>
    </div>
  </div>
<div class = "row">
  <div class = "col-md-6">
    <div class = "zweiteZeile1">
    Irgendwelcher Text der ersten Spalte
    </div>
  </div>
  <div class = "col-md-6">
    <div class = "zweiteZeile2">
    Irgendwelcher Text der zweiten Spalte
    </div>
  </div>
</div>
</div>
