<mat-card class="contact-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                <h4>Informationen</h4>
            </mat-card-title>
        </mat-card-title-group>

    </mat-card-header>
    <mat-card-content>
        <p>...</p>
    </mat-card-content>
    
    <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>
                    <h4>Kontakt</h4>
                </mat-card-title>
            </mat-card-title-group>
    
        </mat-card-header>
        <mat-card-content>
                <p>Falls du Fragen hast oder Störungen der Applikation feststellst, melde dich per untenstehende Mail-Adresse bei mir:</p>
                <div class="adresse">
                    <address>
                        MeinKlassenzimmer
                        <br/> Raphael Metzger
                        <br/> Haltenstrasse 148
                        <br/> 8706 Meilen
                        <br/>
                        <a href="mailto:raphael_90@bluewin.ch">raphael_90@bluewin.ch</a>
                    </address>
                </div>
        
        
        
        
        
        
            </mat-card-content>
</mat-card>