<table class="zimmer">
  <tbody>
    <tr *ngFor="let row of zimmerRows; let r = index">
      <td  *ngFor="let column of zimmerColumns; let c = index" >
        <app-tisch [rowZimmer] ="r" [columnZimmer] ="c" (noteZimmer)="writeZimmer($event)"  [tischeToSchulzimmer]="zimmer.tische"></app-tisch>
      </td>
    </tr>
  </tbody>
</table>


<!-- <td [className]="my_Class" *ngFor="let column of zimmerColumns" (click)="setColor()" id="classroom-{{row}}-{{column}}"></td> -->
<!-- <app-schueler [klassenId]="selectedKlasse.id" [schuelerToPerson]="schuelerToPerson"></app-schueler> -->